extends layout

block content
  h1= title
  h2 data list
  each item in items
    .data-wrapper
      div id: #{item.id}
      div name: #{item.name}
      div email: #{item.email}
      form(action=`/users/delete/${item.id}`, method="post") 
        input(type="submit", value="削除")
  h2 data create
  form(action="/users/new", method="post")
    div
      .input-element
        label name
        input(type="text" name="name")
      .input-element
        label email
        input(type="text" name="email")
      input(type="submit", value="登録")