extends layout

block content
  h1= title
  h2 data list
  each item in items
    .card.mb-2
      .card-body 
        .card-title 
          h3 id: #{item.id}
        form(action=`/users/update/${item.id}`, method="post")
          .form-group
            .input-group.mb-1
              label.col-form-label name
              input.form-control(type="text" name="name" placeholder="name" value=item.name)
            .input-group.mb-1
              label.col-form-label password
              input.form-control(type="password" name="password" value=item.password)
            div createdAt: #{item.createdAt}
            div deleted: #{item.deleted}
            input.btn.btn-primary.btn-sm(type="submit" value="更新")
            button.btn.btn-danger.btn-sm(formaction=`users/delete/${item.id}`, formmethod="post") 削除
  h2 data create
  form(action="/users/new" method="post")
    div
      .form-floating.mb-3
        input.form-control#floadingInput(type="text" name="name")
        label(for="floatingInput") name
      .form-floating.mb-3
        input.form-control#floatingPassword(type="password" name="password")
        label(for="floatingPassword") password
      input.btn.btn-primary.btn-sm(type="submit" value="登録")
      input.btn.btn-secondary.btn-sm(type="reset" value="クリア")